<h1 class="standings-header">@ViewBag.RaceName Results</h1>

<table class="table">
   <thead>
        <tr>    
            <th> Driver </th>
            <th> Position </th>
            <th> Starting Grid </th>
            <th> Laps </th>
            <th> Time </th>
            <th> Points </th>
            
            <th> Sprint </th>
            
            <th> Set Fastest Lap </th>
            <th> Fastest Lap Time </th>
        </tr>
   </thead>
    <tbody>
        @foreach (var item in ViewBag.raceResult)
        {
            <tr>
                @* <td>
            @item.Driver.Name
            </td> *@
                <td>
                    @foreach (var driver in ViewBag.DriversNamesID){
                        if (driver.Value == item.Driver.DriverId)
                        {
                            @driver.Key
                        }
                    }
                <td>
                    @item.Position
                </td>
                <td>
                    @item.StartingGrid
                </td>
                <td>
                    @item.Laps
                </td>
                <td>
                    @item.Time
                </td>
                <td>
                    @item.Points
                </td>
                <td>
                    @item.Sprint
                </td>
                <td>
                    @item.SetFastestLap
                </td>
                <td>
                    @item.FastestLapTime
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ResultId" asp-controller="RaceResults">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ResultId" asp-controller="RaceResults">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ResultId" asp-controller="RaceResults">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>