@model Formula1.Models.RaceResultsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Race Results</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartingGrid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartingGrid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Laps)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Laps)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Points)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Points)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sprint)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sprint)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SetFastestLap)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SetFastestLap)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FastestLapTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FastestLapTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ResultId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
