@model IEnumerable<Formula1.Models.RaceResultsModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="standings">
    <div class="standings-buttons"> 
        <a asp-controller="RaceResoults" asp-action="Create" class="btn btn-primary btn-lg">Add new record</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartingGrid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Laps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sprint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetFastestLap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FastestLapTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingGrid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Laps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sprint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SetFastestLap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FastestLapTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ResultId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ResultId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ResultId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
